/* color palette with p prefixed for pure css */
:root {
    --primary-color: #222222;
    --secondary-color: #49475B;
    --success-color: #84DCC6;
    --info-color:  #4B4E6D;
    --warning-color: #6096ba;
    --white-color: #e2e8f0;
}

.p-bg-primary{
    background-color: var(--primary-color);
}

.p-bg-secondary {
    background-color: var(--secondary-color);
}


.p-bg-success {
    background-color: var(--success-color);
}

.p-bg-info {
    background-color: var(--info-color);
}

.p-bg-warning {
    background-color: var(--warning-color);
}

.p-bg-white {
    background-color: var(--white-color);
}


.p-text-primary{
    color: var(--primary-color);
}

.p-text-secondary {
    color: var(--secondary-color);
}


.p-text-success {
    color: var(--success-color);
}

.p-text-info {
    color: var(--info-color);
}

.p-text-warning {
    color: var(--warning-color);
}

.p-text-white {
    color: var(--white-color);
}
