@import url(Palette.css);
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  max-width: 99vw;
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer;
}

#nameTitle {
  font-size: xx-large;
  font-size: 3rem !important;
  font-weight: bold;
}

#header {
  @media (min-width: 992px) {
    max-height: 100vh;
  }
}

#header {
  @media (max-width: 992px) {
    position: relative !important;
  }
}

#links-offcanvas {
  @media (min-width: 992px) {
    display: none !important;
  }
}

p {
  color: var(--p-color);
}

.p {
  color: var(--p-color);
}

.nav-indicator {
  border: 1px solid var(--p-color);
  width: 2rem;
}

.active .nav-indicator {
  width: 4rem !important;
  border-color: var(--white-color) !important;
}

.active .nav-text {
  color: var(--white-color);
  font-weight: bold;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  padding: 0.6rem;
}

a,
.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

nav {
  @media (min-width: 992px) {
    position: static !important;
  }
}

#header,
#content {
  @media (min-width: 992px) {
    max-width: 50vw;
  }
}

.nav-list:first-child > a {
  background-color: red !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.loading-bar-cell {
  border: solid 5px #fff;
  fill: #fff;
}

.project-link {
  display: inline-block;
  height: 3rem;
}

.project-img {
  height: max-content;
}

.skill {
  border: 2.5px dashed white;
  border-radius: var(--bs-border-radius-3);
}
